<html>
    <head>
        {% if title %}
        <title>{{ title }} - OpenTest</title>
        {% else %}
        <title>Welcome to OpenTest</title>
        {% endif %}
    </head>
    <body>
        <h2>Please confirm the Test paper [ {{test_id}} ]</h2>
        <br/>
        <h3>Test : {{ objTest.testname }} | Subject : {{ objTest.subject }}</h3>
        
        <h3>Score : {{ objTest.score }} | Time : {{ objTest.time }}</h3>
        
        <br/>
        <h3>Questions :</h3>
        {% for q in objTest.all_questions_display %}
        <div>
            <p>{{ q.key }} ----------------------------------------------------------------------------------- </p>
            <p>Question : {{ q.question }}</p>
            {% for o in q.options %}
            <p>Option : {{ o }}</p>            
            {% endfor %}
            <p>Answer : {{ q.answer }}</p>
        </div>
        {% endfor %}
        
        <a href="http://52.140.102.126:5000/confirm/{{test_id}}/Yes"><h3>YES</h3></a>
        <a href="http://52.140.102.126:5000/confirm/{{test_id}}/No"><h3>NO</h3></a>
        
    </body>
</html>
