<html>
    <head>
        {% if title %}
        <title>{{ title }} - OpenTest</title>
        {% else %}
        <title>Welcome to OpenTest</title>
        {% endif %}
    </head>
    <body>
        
        <h2>Test ID : [ {{test_id}} ]</h2>
        <p id="demo"></p>
        <br/>
        {% if user %}
        <h3>Test : {{ objTest.testname }} | Subject : {{ objTest.subject }}</h3>
        
        <h3>Score : {{ objTest.score }} | Time : {{ objTest.time }}</h3>
        
        <br/>
        
        <form action = "http://52.140.102.126:5000/submittest/{{test_id}}" method = "POST">
            <p>Enter Your Name : <input type = "text" name = "user" /></p>
        <h3>Questions :</h3>
        {% for q in objTest.all_questions_display %}
        <div>
            <p>{{ q.key }} ----------------------------------------------------------------------------------- </p>
            <p>Question : {{ q.question }}</p>
            <p><small>Please select correct answer below</small></p>
            {% for o in q.options %}
            <p><input type="radio" name="ans_{{q.key}}" value="{{o}}" >{{ o }}</p>            
            {% endfor %}
            <p>----------------------------------------------------------------------------------------------- </p>
        </div>
        {% endfor %}
        
        <input type = "submit"/>
        
        </form>
        {% endif %}
        
        
        <script>
        // Set the date we're counting down to
        var countDownDate = new Date(Date.now() + (1000*60*int({{objTest.time}})));

        // Update the count down every 1 second
        var x = setInterval(function() {

          // Get today's date and time
          var now = new Date().getTime();

          // Find the distance between now and the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Output the result in an element with id="demo"
          document.getElementById("demo").innerHTML = minutes + " min " + seconds + " sec ";

          // If the count down is over, write some text 
          if (distance < 0) {
            clearInterval(x);
            alert("Time Over")
            document.getElementsByTagName('form')[0].submit()
          }
        }, 1000);
        </script>

    </body>
</html>
